In [1]:
import os
import pandas as pd

In [2]:
lyingFoulingDataPath = "/home/steve/Desktop/mnt/DATA/svenja_data/"

In [3]:
# This function reads the lyingbehaviour_fouling.xlsx data
# The data will be split by pens
# Arguments:
#    path: where the excel file is 
#    lyingFouling: we are reading lying or fouling data 
#                  (value is either "lying" or "fouling")
#    column: which columns do we want to read 
#            A:D,E: pen 01
#            A:D,F: pen 02/05
#            A:D,G: pen 03/04
#    pen: defining the pen name (possible values: 
#                               'C101', 'C103', 'C105', 'C201', 'C203', 'C205')

def readLyingFoulingData (path, lyingFouling, column, pen):
    df = pd.DataFrame()
    for file in os.listdir(path):
        filename = os.fsdecode(file)
        if filename.endswith(".xlsx") and filename.startswith("lyingbehaviour"):
            data = pd.read_excel(path + filename, 
                                 "C1&C2_" + lyingFouling, 
                                 usecols = column)
            data = data.dropna()
            data.rename(columns={ data.columns[4]: lyingFouling }, inplace=True)
            data.columns = data.columns.str.replace(' ', '_')
            room = pen[0:2]
            data = data[data.room == room]
            data=data.rename({})
            data["pen"] = pen
            df = df.append(data)
    return df

In [4]:
# Saving lying and fouling data for each pen separately
lyingData_C101 =  readLyingFoulingData(lyingFoulingDataPath, "lying", "A:D,E", "C101")
lyingData_C105 =  readLyingFoulingData(lyingFoulingDataPath, "lying", "A:D,F", "C105")
lyingData_C103 =  readLyingFoulingData(lyingFoulingDataPath, "lying", "A:D,G", "C103")
lyingData_C201 =  readLyingFoulingData(lyingFoulingDataPath, "lying", "A:D,E", "C201")
lyingData_C205 =  readLyingFoulingData(lyingFoulingDataPath, "lying", "A:D,F", "C205")
lyingData_C203 =  readLyingFoulingData(lyingFoulingDataPath, "lying", "A:D,G", "C203")
foulingData_C101 =  readLyingFoulingData(lyingFoulingDataPath, "fouling", "A:D,E", "C101")
foulingData_C105 =  readLyingFoulingData(lyingFoulingDataPath, "fouling", "A:D,F", "C105")
foulingData_C103 =  readLyingFoulingData(lyingFoulingDataPath, "fouling", "A:D,G", "C103")
foulingData_C201 =  readLyingFoulingData(lyingFoulingDataPath, "fouling", "A:D,E", "C201")
foulingData_C205 =  readLyingFoulingData(lyingFoulingDataPath, "fouling", "A:D,F", "C205")
foulingData_C203 =  readLyingFoulingData(lyingFoulingDataPath, "fouling", "A:D,G", "C203")

In [5]:
# Test
lyingData_C101.head()

  room  period day_of_observation time_of_day      lying   pen
0   C1       3         2018-05-31     morning  55.555556  C101
1   C1       3         2018-05-31        noon  50.000000  C101
2   C1       3         2018-05-31     evening  66.666667  C101
3   C1       3         2018-06-02     morning  61.111111  C101
4   C1       3         2018-06-02        noon  64.705882  C101

In [6]:
lyingData_C101.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 228 entries, 0 to 341
Data columns (total 6 columns):
room                  228 non-null object
period                228 non-null int64
day_of_observation    228 non-null datetime64[ns]
time_of_day           228 non-null object
lying                 228 non-null float64
pen                   228 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 12.5+ KB

In [7]:
# Merge all lying data into one data frame
lyingDataAll = pd.DataFrame()
lyingDataAll = lyingDataAll.append(lyingData_C101)
lyingDataAll = lyingDataAll.append(lyingData_C103)
lyingDataAll = lyingDataAll.append(lyingData_C105)
lyingDataAll = lyingDataAll.append(lyingData_C201)
lyingDataAll = lyingDataAll.append(lyingData_C203)
lyingDataAll = lyingDataAll.append(lyingData_C205)
lyingDataAll = lyingDataAll.reset_index(drop=True)

In [8]:
# Merge all fouling data into one data frame
foulingDataAll = pd.DataFrame()
foulingDataAll = foulingDataAll.append(foulingData_C101)
foulingDataAll = foulingDataAll.append(foulingData_C103)
foulingDataAll = foulingDataAll.append(foulingData_C105)
foulingDataAll = foulingDataAll.append(foulingData_C201)
foulingDataAll = foulingDataAll.append(foulingData_C203)
foulingDataAll = foulingDataAll.append(foulingData_C205)
foulingDataAll = foulingDataAll.reset_index(drop=True)

In [9]:
# Test for index has been reset
lyingDataAll[340:350]

    room  period day_of_observation time_of_day      lying   pen
340   C1       3         2018-08-25        noon  42.857143  C103
341   C1       3         2018-08-25     evening  50.000000  C103
342   C1       4         2018-10-04     morning  77.777778  C103
343   C1       4         2018-10-04        noon  47.058824  C103
344   C1       4         2018-10-04     evening  44.444444  C103
345   C1       4         2018-10-06     morning  66.666667  C103
346   C1       4         2018-10-06        noon  58.823529  C103
347   C1       4         2018-10-06     evening  50.000000  C103
348   C1       4         2018-10-09     morning  66.666667  C103
349   C1       4         2018-10-09        noon  38.888889  C103

In [10]:
# Unique values for "room" and "pen" in the lying data
print(lyingDataAll.room.unique())
print(lyingDataAll.pen.unique())

['C1' 'C2']
['C101' 'C103' 'C105' 'C201' 'C203' 'C205']

In [11]:
foulingDataAll.head()

  room  period  fattening_week   day_of_observation   fouling   pen
0   C1       3               2  2018-06-07 00:00:00  0.500000  C101
1   C1       3               3  2018-06-14 00:00:00  1.000000  C101
2   C1       3               4  2018-06-21 00:00:00  1.333333  C101
3   C1       3               5  2018-06-28 00:00:00  0.833333  C101
4   C1       3               6  2018-07-05 00:00:00  1.000000  C101

In [12]:
foulingDataAll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
room                  150 non-null object
period                150 non-null int64
fattening_week        150 non-null int64
day_of_observation    150 non-null object
fouling               150 non-null float64
pen                   150 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 7.1+ KB

In [13]:
# Unique values for "room" and "pen" in the fouling data
print(foulingDataAll.room.unique())
print(foulingDataAll.pen.unique())

['C1' 'C2']
['C101' 'C103' 'C105' 'C201' 'C203' 'C205']

In [14]:
# This function is used to create a new column with time values
# "morning" -> "08:00"
# "noon" -> "12:00"
# "evening" -> "18:00"
def timeOfTheDay(section):
    if section == "morning":
        return "08:00"
    elif section == "noon":
        return "12:00"
    elif section == "evening":
        return "18:00"
    else:
        return "00:00"
    
lyingDataAll["time"] = lyingDataAll.apply(
    lambda row: timeOfTheDay(row.time_of_day), axis  = 1)

In [15]:
# Test
lyingDataAll.head()

  room  period day_of_observation time_of_day      lying   pen   time
0   C1       3         2018-05-31     morning  55.555556  C101  08:00
1   C1       3         2018-05-31        noon  50.000000  C101  12:00
2   C1       3         2018-05-31     evening  66.666667  C101  18:00
3   C1       3         2018-06-02     morning  61.111111  C101  08:00
4   C1       3         2018-06-02        noon  64.705882  C101  12:00

In [16]:
# Create a new column with date and time values combined
# Data type is datetime64[ns]
lyingDataAll["datetime"] = lyingDataAll.apply(
    lambda row: pd.to_datetime(row.day_of_observation.strftime("%Y-%m-%d") + row.time, 
                               format='%Y-%m-%d%H:%M'), axis = 1)
lyingDataAll.head(2)

,room,period,day_of_observation,time_of_day,lying,pen,time,datetime
0,C1,3,2018-05-31,morning,55.555556,C101,08:00,2018-05-31 08:00:00
1,C1,3,2018-05-31,noon,50.000000,C101,12:00,2018-05-31 12:00:00

In [17]:
lyingDataAll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1368 entries, 0 to 1367
Data columns (total 8 columns):
room                  1368 non-null object
period                1368 non-null int64
day_of_observation    1368 non-null datetime64[ns]
time_of_day           1368 non-null object
lying                 1368 non-null float64
pen                   1368 non-null object
time                  1368 non-null object
datetime              1368 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 85.6+ KB

In [18]:
foulingDataAll.head(2)

  room  period  fattening_week   day_of_observation  fouling   pen
0   C1       3               2  2018-06-07 00:00:00      0.5  C101
1   C1       3               3  2018-06-14 00:00:00      1.0  C101

In [19]:
foulingDataAll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
room                  150 non-null object
period                150 non-null int64
fattening_week        150 non-null int64
day_of_observation    150 non-null object
fouling               150 non-null float64
pen                   150 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 7.1+ KB

In [20]:
# Create a new column with date values
# Data type is datetime64[ns]
foulingDataAll["datetime"] = pd.to_datetime(foulingDataAll["day_of_observation"])
foulingDataAll.head(2)

  room  period  fattening_week   day_of_observation  fouling   pen   datetime
0   C1       3               2  2018-06-07 00:00:00      0.5  C101 2018-06-07
1   C1       3               3  2018-06-14 00:00:00      1.0  C101 2018-06-14

In [21]:
foulingDataAll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
room                  150 non-null object
period                150 non-null int64
fattening_week        150 non-null int64
day_of_observation    150 non-null object
fouling               150 non-null float64
pen                   150 non-null object
datetime              150 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 8.3+ KB